body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	min-width: 700px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

.canvas {
	font-size: 20px;
}


h1 {
	color: gray;
}

h1 {
	width: 100%;
	text-align: center;
}

.h2 {
	text-align: center;
	font-weight: bold;
	float: left;
	width: 40%;
	vertical-align: middle;
}

.h3 {
	text-align: center;
	font-weight: bold;
	float: left;
	width: 30%;
	vertical-align: middle;
}

label {
	font-size: 11px;
}

sup {
	font-size: 16px !important;
	font-weight: bold;
	color: blue;
	cursor:help;
}

.canvas {
	color: black;
	font-weight: 100;
	width: 100%;
}

.subhead {
	margin-top: 10px;
	clear: both;
	min-height: 36px;
}

.tools, .tools2 {
	float: left;
	right: 5px;
	width: 50%;
	min-width: 100px;
	text-align: right;
}

.tools2 {
	width: 50%;
}

.compute {
	clear: both;
	height: 40px;
}

.sources {
	clear: both;
	overflow: auto;
}

	.sources li {
		margin: 10px;
		font-size: 12px;
	}

.instances {
	clear: both;
	overflow: auto;
	list-style: none;
}

	.instances li {
		margin: 10px;
		font-size: 12px;
	}


.metrics {
}

	.metrics li {
		list-style-type: lower-latin;
	}

.text2 {
	font-size: 11px;
	border: 1px solid gray;
	text-align: center;
	color: black;
	width: 60px;
}

	.text2:focus {
		font-weight: bold;
		width: 60px;
	}

.text {
	font-size: 11px;
	border: 1px solid gray;
	text-align: center;
	color: black;
	width: 80px;
}

	.text:focus {
		border: 1px solid black;
		font-weight: bold;
		width: 80px;
	}

.space {
	margin-left: 5px;
	margin-right: 5px;
	/*border-left: 1px solid gray;
	border-right: 1px solid gray;*/
}

.spacer {
	width: 100%;
	margin: 2px;
	text-align: center;
	/*border-top: 1px solid gray;
	border-bottom: 1px solid gray;*/
}

.space2 {
	margin-left: 5px;
	margin-right: 5px;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
}

.space3 {
	margin-left: 5px;
}

.space4 {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	min-width: 60px;
}

.space6 {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	min-width: 100px;
}

.space5 {
	font-size: 11px;
	color: blue;
	font-weight: bold;
}

label.space5, label.space7 {
	font-size: 11px;
	color: blue;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	display: inline-block;
	width: auto;
}

label.space7 {
	font-size: 12px;
	text-align: left;
	font-style: normal;
	color: black;
}

.select {
	font-size: 12px;
	display: inline-block;
	min-width: 130px;
}

.select2 {
	font-size: 12px;
	display: inline-block;
	min-width: 80px;
}


.add2 {
	cursor: pointer;
	color: green;
	font-size: 16px;
}

	.add2:hover {
		font-weight: bold;
	}

.add4 {
	cursor: pointer;
	color: green;
	font-size: 12px;
	display: inline-block;
}

.add3 {
	cursor: pointer;
	color: green;
	font-size: 12px;
}


.remove {
	cursor: pointer;
	color: red;
	font-size: 14px;
}

	.remove:hover {
		font-weight: bold;
	}


.add {
	cursor: pointer;
	color: green;
	font-size: 24px;
	min-height: 36px;
}

	.add:hover {
		font-weight: bold;
	}

.info {
}

.hidden {
	display: none;
}

code {
	color: blue;
	font-size: 12px;
	word-wrap: break-word;
}

.dimensions {
	clear: both;
	width: 100%;
	margin: 5px;
}

.uploader, .loading {
	display: inline-block;
	vertical-align: top;
}

.loading, .running {
	font-size: 10px;
	font-weight: bold;
	color: red;
}

.info {
	vertical-align: top;
}

.mainsource {
	display: none;
	vertical-align: top;
	margin-left: 2px;
}

form {
	display: inline-block;
}

.blue {
	color: blue;
	font-size: 10px;
	font-weight: bold;
}
