body {
	font-size: 12px;
	min-width: 700px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

.canvas {
	font-size: 20px;
}


h1 {
	color: gray;
}

h1 {
	width: 100%;
	text-align: center;
}

.h2 {
	text-align: center;
	font-weight: bold;
	float: left;
	width: 40%;
	vertical-align: middle;
}

.h3 {
	text-align: center;
	font-weight: bold;
	float: left;
	width: 30%;
	vertical-align: middle;
}

label {
	font-size: 11px;
}

sup {
	font-size: 16px !important;
	font-weight: bold;
	color: blue;
	cursor: help;
}

.canvas {
	color: black;
	font-weight: 100;
	width: 100%;
}

.subhead {
	margin-top: 10px;
	clear: both;
	min-height: 36px;
}

.tools, .tools2 {
	float: left;
	right: 5px;
	width: 50%;
	min-width: 100px;
	text-align: right;
}

.tools2 {
	width: 50%;
}

.compute {
	clear: both;
	height: 40px;
}

.sources {
	clear: both;
}

	.sources li {
		margin: 10px;
		font-size: 12px;
	}

.instances {
	clear: both;
	overflow: auto;
	list-style: none;
}

	.instances li {
		margin: 10px;
		font-size: 12px;
	}


.metrics {
}

	.metrics li {
		list-style-type: lower-latin;
	}

.text2 {
	font-size: 11px;
	border: 1px solid gray;
	text-align: center;
	color: black;
	width: 60px;
}

	.text2:focus {
		font-weight: bold;
		width: 60px;
	}

.text {
	font-size: 11px;
	border: 1px solid gray;
	text-align: center;
	color: black;
	width: 80px;
}

	.text:focus {
		border: 1px solid black;
		font-weight: bold;
		width: 80px;
	}

.space {
	margin-left: 5px;
	margin-right: 5px;
	/*border-left: 1px solid gray;
	border-right: 1px solid gray;*/
}

.spacer {
	width: 100%;
	margin: 2px;
	text-align: center;
	/*border-top: 1px solid gray;
	border-bottom: 1px solid gray;*/
}

.space2 {
	margin-left: 5px;
	margin-right: 5px;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
}

.space3 {
	margin-left: 5px;
}

.space4 {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	min-width: 60px;
}

.space8 {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	min-width: 60px;
	color: blue;
	cursor: pointer;
}

.space6 {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	min-width: 100px;
}

.space5 {
	font-size: 11px;
	color: blue;
	font-weight: bold;
}

label.space5, label.space7 {
	font-size: 11px;
	color: blue;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	display: inline-block;
	width: auto;
}

label.space7 {
	font-size: 12px;
	text-align: left;
	font-style: normal;
	color: black;
}

.select {
	font-size: 12px;
	display: inline-block;
	min-width: 130px;
}

.select2 {
	font-size: 12px;
	display: inline-block;
	min-width: 80px;
}


.add2 {
	cursor: pointer;
	color: green;
	font-size: 16px;
}

	.add2:hover {
		font-weight: bold;
	}

.add4 {
	cursor: pointer;
	color: green;
	font-size: 12px;
	display: inline-block;
}

.add3 {
	cursor: pointer;
	color: green;
	font-size: 12px;
}

.remove {
	cursor: pointer;
	color: red;
	font-size: 14px;
	background-image: url('delete.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0px;
	height: 32px;
	width: 32px;
	text-indent: 32px;
	overflow: hidden;
	display: inline-block;
}

	.remove:hover {
		font-weight: bold;
	}


.add {
	cursor: pointer;
	color: green;
	font-size: 24px;
	height: 42px;
	width: 42px;
	background-image: url('plus.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0px;
	text-indent: 42px;
	overflow: hidden;
	display: inline-block;
}

	.add:hover {
		font-weight: bold;
	}

.info {
}

.hidden {
	display: none;
}

code {
	color: blue;
	font-size: 12px;
	word-wrap: break-word;
}

.dimensions {
	clear: both;
	width: 100%;
	margin: 5px;
}

.uploader, .loading {
	display: inline-block;
	vertical-align: top;
}

.loading, .running {
	font-size: 10px;
	font-weight: bold;
	color: red;
}

.info {
	vertical-align: top;
}

.mainsource {
	display: none;
	vertical-align: top;
	margin-left: 2px;
}

form {
	display: inline-block;
}

.blue {
	color: blue;
	font-size: 10px;
	font-weight: bold;
}


/*t1,t2,t3,t4,t5,t6 are for Point Selector*/
.t1 {
	position: relative;
	clear: both;
	z-index: 10000;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	background: threedface;
}

.t1, .t5 {
	width: 135px;
	height: 135px;
}

.t2 {
}

.t3 {
	position: absolute;
	left: 20px;
	top: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: threedshadow threedhighlight threedhighlight threedshadow;
}

.t4 {
	width: 100px;
	height: 100px;
	background-image: url('graph.png');
	background-position: 0px 0px;
	background-repeat: repeat;
}

.t5 {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: crosshair;
	background-image: url('cross.gif');
	background-position: 12px 12px;
	background-repeat: no-repeat;
}

.t6 {
	position: absolute;
	
	right: 10px;
	bottom: 10px;

	display: none;
	padding: 2px 15px;
	height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	color: buttontext;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: normal;
	font-family: sans-serif;
	text-align: center;
	cursor: pointer;
}

.origin {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 16px;
	left: 16px;
	background: url('origin.png');
	overflow: hidden;
	text-indent: 4px;
	z-index: 1;
	
}

.axis-x {
	width: 100%;
	height: 20px;
	font-size: 16px;
	color: red;
	text-align: center;
	font-weight:bold;
}

.axis-y {
	width: 20px;
	height: 100%;
	font-size: 16px;
	font-weight:bold;
	vertical-align: middle;
	color: red;
	top:60px;
	position:absolute;
	margin-left:4px;
}
