{% extends "layout.html" %}
{% block templates %}{% endblock %}
{% block footer %}{% endblock %}


{% block head %}
<title>About GUI for Mutator Math</title>
{% endblock %}

{% block container %}
	<h2>Objective</h2>
		<p>An attempt to create Web based GUI for Mutator math Project. </p>
		<ul>
			<li>Mutator Math <a href="https://github.com/LettError/MutatorMath/">https://github.com/LettError/MutatorMath/</a></li>
			<li>Git Hub Project for Mutator Math GUI<a href="https://github.com/mdileep/mutatorMath.gui">https://github.com/mdileep/mutatorMath.gui</a></li>
		</ul>
	<h2>In-Action</h2>
		<ul>
			<li>Try <a href="/gui">GUI </a></li>
		</ul>
{% endblock %}





	
