<!DOCTYPE html>
<html>
<head>
	<title>Build Design Space Document for Mutator Math</title>
	<script type="text/javascript" src="/static/scripts/DesignSpace.Util.js"></script>
	<script type="text/javascript" src="/static/scripts/DesignSpace.Worker.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/content/styles.css" />

	<link rel="stylesheet" href="/static/scripts/external/prettify.css" />
	<script type="text/javascript" src="/static/scripts/external/vkbeautify.js"></script>
	<script type="text/javascript" src="/static/scripts/external/prettify.js"></script>
	<script type="text/javascript" src="/static/scripts/external/lang-ml.js"></script>
</head>
<body>
	<h1>Design Space Document</h1>
	<div class="spacer"><h2>Designer</h2></div>
	<div id="designSpace" class="canvas">

		<div class="subhead">
			<div class="h2">Sources</div>
			<div class="tools"><button class="add" id="source.add" title="Add">+</button></div>
		</div>
		<ol id="sources" class="sources"></ol>

		<div class="subhead">
			<div class="h2">Instance</div>
			<!--<div class="tools"><button class="add" id="instance.add" title="Add">+</button></div>-->
		</div>

		<ul id="instances" class="instances"></ul>

		<div class="subhead compute">
			<div class="h3">&nbsp;</div>
			<div class="tools2">
				<button class="add3" id="btn.compute" title="Compute">Design Space</button> 
				<button class="add3" id="btn.run" title="Download Mutated Math Output">Run</button>
			</div>
		</div>

		<iframe width="0" height="0" name="run"></iframe>
		<form action="/run" method="post" id="frmRun" target="run">
			<input type="hidden" name="txt.xml" id="txt.xml" />
			<input type="hidden" name="instance" id="instance" />
		</form>
	</div>


	<div class="spacer"><h2>Generated Design Space Document</h2></div>
	<div class="output" id="output">
		<pre class="prettyprint lang-xml" id="code">
			
		</pre>
	</div>

	<script type="text/template" id="SourceTemplate">
		<div id="source_{ID}" class="source">
			
			<span class="info" style="vertical-align:top;">
				<button class="remove" id="source.remove_{ID}" title="Delete">X</button>
			</span>

			<div class="mainsource" id="source.ui_{ID}">
				<input type="text" readonly="readonly" id="source.name_{ID}" class="text" value="Master{ID}" />

				<span class="space3"></span>

				<span class="info">
					<input type="checkbox" id="copyInfo_{ID}" checked="checked" name="copyInfo_{ID}" /> <label for="copyInfo_{ID}">Copy Info</label>
					<span class="space3"></span>
					<input type="checkbox" id="muteInfo_{ID}" name="muteInfo_{ID}" /> <label for="muteInfo_{ID}">Mute Info</label>
				</span>

				<span class="space2"></span>

				<input type="checkbox" id="copyLib_{ID}" name="copyLib_{ID}" /> <label for="copyLib_{ID}">Copy Lib</label>
				<span class="space"></span>
				<input type="checkbox" id="copyGroups_{ID}" name="copyGroups_{ID}" /> <label for="copyGroups_{ID}">Copy Groups</label>
				<span class="space"></span>
				<input type="checkbox" id="muteKerning_{ID}" name="muteKerning_{ID}" /> <label for="muteKerning_{ID}">Mute Kerning</label>
				<span class="space2"></span>

				<span class="select2">
					<label for="source.selMetric_{ID}" class="space5" id="source.selMetric_{ID}.lbl" style="display:none;">No more Metrics</label>
					<select id="source.selMetric_{ID}">
						<option value="width">Width</option>
						<option value="weight">Weight</option>
					</select>
				</span>

				<span class="space"></span>

				<span class="info">
					<button class="add2" id="source.addMetric_{ID}" title="Add">+</button>
				</span>

				<div class="dimensions">
					<h4 style="display:none;">Dimensions</h4>
					<ol id="source.metrics_{ID}" class="metrics"></ol>
				</div>

			</div>


			<span class="space3"></span>

			<div class="uploader" id="uploader_{ID}">
				<iframe name="frame_{ID}" width="0" height="0"></iframe>
				<form action="/upload.zip" method="post" enctype="multipart/form-data" id="form_{ID}" target="frame_{ID}">
					<input type="file" name="file" id="file_{ID}" />
					<input type="hidden" name="id" id="id_{ID}" value="{ID}" />
				</form>
			</div>

			<span class="loading" style="display:none;" id="processing_{ID}">Please wait while uploading the file.</span>
		</div>
	</script>


	<script type="text/template" id="InstanceTemplate">
		<div id="instance_{ID}" class="instance">
			<!--
			<span class="info">
				<button class="remove" id="instance.remove_{ID}" title="Delete">X</button>
			</span>
			<span class="space3"></span>-->

			<input type="text" readonly="readonly" id="instance.name_{ID}" class="text" value="Family" />

			<span class="space2"></span>
			<span class="select">
				<label for="instance.selMetric_{ID}" class="space5" id="instance.selName_{ID}.lbl" style="display:none;">No more Names</label>
				<select id="instance.selName_{ID}">
					<option value="stylename">Style</option>
					<option value="postscriptfontname">Post Script Font</option>
					<option value="stylemapfamilyname">Stylemap Family</option>
					<option value="stylemapstylename">Stylemap Style</option>
				</select>
			</span>
			<span class="space"></span>

			<span class="info">
				<button class="add2" id="instance.addName_{ID}" title="Add">+</button>
			</span>

			<span class="space2"></span>

			<span class="select2">
				<label for="instance.selMetric_{ID}" class="space5" id="instance.selMetric_{ID}.lbl" style="display:none;">No more Metrics</label>
				<select id="instance.selMetric_{ID}">
					<option value="width">Width</option>
					<option value="weight">Weight</option>
				</select>
			</span>

			<span class="space"></span>
			<span class="info">
				<button class="add2" id="instance.addMetric_{ID}" title="Add">+</button>
			</span>

			<div class="dimensions">
				<h4 style="display:none;">Names</h4>
				<ol id="instance.names_{ID}" class="metrics"></ol>
			</div>

			<div class="dimensions">
				<h4 style="display:none;">Dimensions</h4>
				<ol id="instance.metrics_{ID}" class="metrics"></ol>
			</div>

		</div>
	</script>

	<script type="text/template" id="DimensionTemplate">
		<div id="metric_{value}_{ID}">

			<label class="space4">{text}</label>

			<span class="space3"></span>

			<span class="space5">X-Val:</span>

			<input type="text" id="{prefix}.x_{value}_{ID}" class="text2" value="" />

			<span class="space3"></span>

			<span class="space5">Y-Val:</span>
			<input type="text" id="{prefix}.y_{value}_{ID}" class="text2" value="" />

			<span class="space2"></span>

			<span class="info">
				<button class="remove" id="{prefix}.remove_{value}_{ID}" title="Delete">X</button>
			</span>

		</div>
	</script>

	<script type="text/template" id="NameTemplate">
		<div id="name_{value}_{ID}">
			<label class="space6">{text}</label>
			<input type="text" id="{prefix}_{value}_{ID}" class="text" value="" />
			<span class="space2"></span>
			<span class="info">
				<button class="remove" id="{prefix}.remove_{value}_{ID}" title="Delete">X</button>
			</span>
		</div>
	</script>

	<script type="text/javascript" src="/static/scripts/DesignSpace.app.js"></script>


	<i>Served at {{ now }}</i>
</body>
</html>
{% extends "layout.html" %}