<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<h1 class="text-muted">Testing Zone</h1>

	<div class="container">
		<div class="header">
			<h3 class="text-muted">Upload a Zip File</h3>
		</div>
		<hr />
		<div>
			<iframe name="frame" ></iframe>
			<form action="/upload.zip" method="post" enctype="multipart/form-data" target="frame">
				<input type="text" name="callback" /><br />
				<input type="file" name="file" /><br /><br />
				<input type="submit" value="Upload" />
			</form>
		</div>
	</div>

	<div class="container">
		<div class="header">
			<h3 class="text-muted">Upload a Xml File</h3>
		</div>
		<hr />
		<div>
			<form action="/upload.xml" method="post" enctype="multipart/form-data">
				<input type="text" name="callback" /><br />
				<input type="file" name="file" /><br /><br />
				<input type="submit" value="Upload" />
			</form>
		</div>
	</div>
</body>
</html>